[submodule "roles/ansible-role-golang"]
	path = roles/ansible-role-golang
	url = https://github.com/gantsign/ansible-role-golang.git
[submodule "roles/ansible-role-customize-gnome"]
	path = roles/ansible-role-customize-gnome
	url = https://github.com/PeterMosmans/ansible-role-customize-gnome.git
[submodule "wallpapers"]
	path = wallpapers
	url = git@github.com:JonGanz/wallpapers.git
